.form {
   display: flex;
   align-items: flex-start;
   gap: 20px;
   padding-right: 52px;
   margin-top: 25px;
}

.form>div {
   height: 550px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex: 1;
}

.form>div textarea {
   padding-top: 9px;
}
.form>div input, form>div textarea {
   margin-bottom: 20px;
}
.form>div:last-child {
   justify-content: flex-start;
}

.form textarea {
   height: 136px; 
}